.app {
  margin: 0 auto;
  width: 80%;
}

.app ul {
  list-style-type: none;
}

.app a {
  text-decoration: none;
}

.spinner {
  color: grey;
  text-align: center;
}

.error {
  padding: 20px;
  text-align: center;
  color: red;
}
