.App {
  margin: 0 auto;
  width: 75%;
  font-size: 16px;
}

/* Header */

header {
  padding: 10px;
  background-color: #ff7416;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search {
  height: 50px;
  background-image: url(img/iconfinder-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
  flex: 3;
  outline: none;
  border: 0;
}

header h1 {
  margin: 0 10px;
}

.logo {
  max-width: 50px;
}

/* Search Options  */
.searchOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
}

.options select {
  margin: 0 7px;
}
/* Main */

main {
  background-color: rgb(246, 246, 239);
}

.item {
  padding: 10px;
}

.item a {
  text-decoration: none;
  color: black;
}

.item p {
  margin: 3px 0;
}

.item .info {
  font-size: 13px;
  color: grey;
}

.item .info span + span:before {
  content: " | ";
  padding: 0 5px;
}

.item .info a {
  color: grey;
}

.item .info a:hover {
  border-bottom: 1px grey dotted;
}

/* Nav  */

nav {
  height: 50px;
  font-size: 15px;
}

nav li {
  display: inline;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #477dca;
}

nav li + li:before {
  content: " • ";
  padding: 0 10px;
}
